.navbar {
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-sizing: border-box;
    height: 8vh;
    max-width: 800px;
}

.navTitle {
    margin-left: 20px;
    color: var(--nice-blue-color);
    font-size: 28px;
}

.navDownloadBtn{
    border: 2px solid var(--nice-blue-color);
    border-radius: 5px;
    padding: 0;
    color: var(--nice-blue-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    background-color: inherit;
    margin-right: 20px;
}

.navDownloadBtnImg {
    background-color: inherit;
    display: inline;
}

.navDownloadBtnText {
    display: none;
}

@media (min-width: 500px) {
    
    .navDownloadBtn {
        padding: 0.8em 1.2em;
        border: 1px solid var(--nice-blue-color);
    }
    .navDownloadBtnText {
        display: inline;
    }
    .navDownloadBtnImg{
        display: none;
    }
}